# Dependency directories
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# rsa keys
private*.pem
public*.pem
private*.key
public*.key

# temp files
*.tmp*